.product-card {
  padding: 5px;
  border: 1px solid #D3D3D3;
  background: white;
  font-family: "Avenir Next Cyr";
  overflow: hidden;
  box-sizing: border-box;
  margin: 1rem .25em;
}
.product-img {transition: 1s ease-in-out;}
.product-img:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.product-img img {
  display: block;
  width: 100%;
}
.product-name {
  margin-top: 35px;
  font-size: 17px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
a:hover {
  color: #304FFE;
}
.category {
  font-size: 15px;
  color: #A9A9A9;
  margin-top: 5px;
}
.category span:hover {
  cursor: pointer;
  color: #000000;
  font-weight: bold;
}
.stars-five:before {
  content: "\2605\2605\2605\2605\2605";
  color: #EFB71C;
  font-size: 16px;
}
.stars-four:before {
  content: "\2605\2605\2605\2605\2606";
  color: #EFB71C;
  font-size: 16px;
}
.stars-three:before {
  content: "\2605\2605\2605\2606\2606";
  color: #EFB71C;
  font-size: 16px;
}
.stars-two:before {
  content: "\2605\2605\2606\2606\2606";
  color: #EFB71C;
  font-size: 16px;
}
.price {
  color: #DC143C;
  font-size: 18px;
}
.description {
  font-size: 15px;
  margin: 8px 0;
}
.products {
  display: flex;
  flex-wrap: wrap;
}

.centered {
  margin: 0 auto;
  padding: 0 1em;
}

@media (min-width: 768px) {
  .product-card {
    max-width: calc(50.5% -  1em);
  }
}

@media (min-width: 992px) {
  .product-card {
    max-width: calc(34% -  1em);
  }
}


@media (min-width: 1200px) {
  .product-card {
    max-width: calc(25.4% - 1em);
  }
}

@media (max-width: 768px) {
  .product-card {
    width: 100%;
  }
}

